@charset "UTF-8";
/* CSS Document */

.address_ico,.address2 .address_item .address_btn,.address2 .address_item .address_checked,.watermark,.return_ico,.tips_ico,.tips_follow_txt i,.goods_num_ico,.ftips_ico,.ftips_follow:before,.ftips_follow_opt a:before{background-image:url(http://static.paipaiimg.com/wx/img/order/buy_v9.png?t=20140105);background-repeat:no-repeat;-webkit-background-size:250px 61px;background-size:250px 61px}
.goods_titel{background:#f0efed;border-bottom:1px solid #dddddd;padding:30px 0;text-align:center;font-size:40px;}
.goods_main{background-color:#fff;padding:10px 20px;margin-bottom:15px;position:relative;z-index:2;border-bottom:1px solid #dddddd;overflow:hidden}
.goods_main p{margin: 8px 0;line-height: 22px;}
.goods_main em{float:right;font-style: normal;font-weight: normal;}
#buyBtns{margin:0 10px 10px 10px;}
.btn_sure,.btn_buy{width:100%; border: 1px solid #ffcc33;display:block;height:42px;line-height:42px;color:#fff;text-align:center;font-size:18px;font-weight:normal;position:relative;z-index:2;background-color:#3475DA;border-radius: 4px;}
.btn_buy_Member{background-color:#e64347}
.btn_buy_Wechat{background-color:#ffcc33;}
.btn_buy_Cash{background-color:#ffffff; border:1px solid #dadada; color:#2a2a2a;}


.goods{padding:10px;position:relative;z-index:2;border-bottom:1px solid #dddddd;overflow:hidden}
.goods:focus{background-color:#EFEFEF}
.goods_img{float:left;width:80px;height:80px;margin-right:10px}
.goods_img img{display:block;width:80px;height:80px;overflow:hidden}
.goods_name{height:26px;line-height:26px;overflow:hidden;word-wrap:break-word;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;font-size:16px}
.goods_name a{color:#333}
.goods_attr{height:21px;line-height:21px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:1px}
.goods_price{height:22px;line-height:22px;overflow:hidden}
.goods_price{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.goods_price .co_red{margin-left:5px;font-size:16px}
.co_red {color: #D50900;}
.goods_price .co_red {font-size: 16px;}
.co_gray {color: #999999 !important;}

.recharge_list {
text-align: center;
background: #fff;
padding-top: 18px;
height: 112px;
}
.recharge_font {
font-size:17px;
color: #222;
}
.recharge_money {
font-size:20px;
color: #3b9af2;
}
.recharge_send .send {
font-size: 10px;
color: #999;
}
.recharge_send .money{
color: #ffad1d;
font-size: 12px;
}

.recharge_money em{
font-size:2em;
}
.pay_manner {
line-height: 22px;
margin-bottom: 15px
}
.pay_font {
padding: 25px 0 10px 15px;
}

.item_list_box {
margin-left: 15px;
line-height: 52px;
padding: 0px 0;
position: relative;
}
.item_list_box img{
float: left;
margin-right: 10px;
width: 30px;
margin-top: 10px;
margin-left: -2px;

}
.item_list_box span {
float: right;
margin-right: 6px;
position: absolute;
top: 0px;
right: 10px;
border-radius: 100%;
background-clip: border-box;
}
.orange_color {
color: #f66627;
font-weight: 500;
}
.item_list_box span label {
cursor: pointer;
position: absolute;
width: 20px;
height: 20px;
top: 14px;
left: -5px;
background: #fff;
border: 1px solid #3f3f3f;
-webkit-outline:none;
outline:none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
border-radius: 100%;
}

.item_list_box span input[type=radio]:checked + label {
background: #e8f6fe;
border: 1px solid #1aa4f2;
outline: 0;
-webkit-outline: 0;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.item_list_box span input[type=radio]:checked + label b{
position: absolute;
left: 7px;
top: 4px;
border-right: 2px solid #1aa4f2;
border-bottom: 2px solid #1aa4f2;
float: left;
width: 4px;
height: 8px;
-webkit-transform: rotate(40deg);
transform: rotate(40deg);
}


.chongzhi_btns {
margin-top: 36px;
width: 100%;
color: #fff;
}

.chongzhi_btns button{
position: absolute;
margin: 0 auto;
left: 0;
right: 0;
height: 40px !important;
line-height: 40px !important;
border-radius: 8px !important;
width: 90% !important;
background: #1db7fe;
border: 1px solid #1db7fe;
color: #fff;
text-align: center;
font-size: 1.148em;
} 
.item_list_box .manjian {
  color: red;
  position: absolute;
  left: 38px;
  text-align: left;
  top: 36px;
  line-height: 16px;
  font-size: 0.7em;
}
}