@charset "utf-8";
html{min-height:100%; font-size: 1em;}
*{margin:0;padding:0}
header,footer,section,article,nav,figure,aside,canvas{display:block}
ul,li{list-style:none}
img{border:none}
a{text-decoration:none;color:#4a4a4a}

a,button,input,img,p{-webkit-touch-callout:none;-webkit-outline:none;outline:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{border:0;padding:0}
body{font:14px/1.4 arial;color:#4a4a4a;-webkit-text-size-adjust:none;font-family:"Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei","sans-serif","Varela Round", "sans-serif" !important;min-width:320px;margin:0 auto; background:#f0f0f0; }
em, i {font-style: normal;font-weight: normal;}
.mb10{ margin-bottom:10px;}
.Pl10{padding:10px 5.3125% 0 5.3125%;}
.p5 {
  padding: 5px;
}

input[type="button"],button {
  -webkit-appearance:none;
}
.redcolor {
  color: #f86005;
}
.font12 {
  font-size: 12px;
  line-height: 24px;
}
.color_8a8a8a {
  color: #8a8a8a;
}
.white-bg {
  background: #fff;
}
.blue-color {
  color: #1aa4f2;
}
.borderS{border-bottom:0.06em #eeeeee solid;}
.borderD{border-bottom:1px solid #dcdcdc;transform: scaleY(0.5);-webkit-transform: scaleY(0.5)}
.borderD2 {
  border-bottom:1px solid #d2d2d2;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5)
}

.borderD3{border-bottom:1px solid #dfdfdf;transform: scaleY(0.5);-webkit-transform: scaleY(0.5)}
.p10{padding:10px;}

.m15 {
  margin-top: 15px;
}
.mp{margin:0 5.3125% 10px 5.3125%; padding-bottom:10px;}
.c94{color:#949494;}
.bigfont {
  font-size: 18px;
  font-weight: normal;
}
.font16 {
  font-size: 16px !important;
  font-weight: normal;
}
.p15 {
  padding: 15px 0 10px 15px;
}
.blackFont {
  color: #111;
  font-weight: normal;
}
.p30 {
  padding: 30px;
}
.space-split15 {
  height: 15px;
  background: #f0f0f0;
}
.space-split10 {
  height: 10px;
  background: #f0f0f0;
}
.bgf0f0f0 {
  background: #f0f0f0;
}
.pd {
  padding-top: 0;
}
.borderL {
  border-left: 1px solid #dcdcdc;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0;
}
.order_bar {
  
  line-height: 36px;
  background: #fff0c8;
  color: #333;
  text-indent: 15px;
  font-size: 14px;
  position: relative;
}
.order_bar span{
  position: absolute;
  right: 15px;
}
.clearBoth {
  clear: both;
}
.white_bg {
  background: #fff;
}
.text-center {
  text-align: center;
}
.y_cb:after{clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden}
.y_hd{position:relative;width:100%;height:42px;line-height:42px;text-align:center;border-bottom:2px #1B4587 solid;color:#fff;font-size:1.42857em;text-shadow:0 -1px #295CAD;background:#2d73e2;background:-webkit-gradient(linear,left top,left bottom,from(#397fe8),to(#2d73e2));background:-webkit-linear-gradient(top,#397fe8,#2d73e2);background:-moz-linear-gradient(top,#397fe8,#2d73e2);background:-ms-linear-gradient(top,#397fe8,#2d73e2);background:-o-linear-gradient(top,#397fe8,#2d73e2);max-width:1024px}
.y_pf{font-family:"Heiti SC"}
.y_hdb{display:block;position:absolute;top:5px;right:3.125%;width:53px;height:32px;background-repeat:no-repeat;font-size:.75em;-webkit-background-size:29px 29px;background-size:29px 29px}
.y_gt{z-index:50;position:fixed;right:0;bottom:50px;width:25px;height:25px;background-color:rgba(0,0,0,.35);-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-bottom-left-radius:5px}
.y_gt:before{content:'';position:absolute;top:7px;left:8px;width:12px;height:0;border-top:2px #fff solid}
.y_gt:after{content:'';position:absolute;top:11px;left:8px;width:12px;height:9px;-webkit-background-size:12px 9px;background-size:12px 9px}
.y_cart_num{position:absolute;top:-3px;right:-8px;font-style:normal;display:inline-block;min-width:15px;height:14px;padding:0 4px;line-height:12px;text-align:center;background-color:red;border:2px #fff solid;border-radius:14px;color:#fff;font-size:12px;background:-webkit-gradient(linear,left top,left bottom,from(#ec3a43),to(#cd0407));background:-webkit-linear-gradient(top,#ec3a43,#cd0407);background:-moz-linear-gradient(top,#ec3a43,#cd0407);background:-ms-linear-gradient(top,#ec3a43,#cd0407);background:-o-linear-gradient(top,#ec3a43,#cd0407);text-shadow:none;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.67);box-shadow:1px 1px 3px rgba(0,0,0,.67);font-family:"Heiti SC";font-weight:bolder;line-height:16px}
.y_loading{z-index:100;position:fixed;left:0;top:0;display:block;width:100%;height:100%;text-align:center}
.y_loading .mask{position:absolute;top:0;left:0;width:100%;height:100%}
.y_loading .loading-gif{position:relative;display:block;width:100px;margin:0 auto;padding-top:50px;color:#fff;font-size:1em;text-shadow:0 -1px 0 #7F7F7F;text-align:center}
.y_loading .loading-gif:before{content:'';position:absolute;top:0;left:29px;width:41px;height:41px;background-color:#fff;border-radius:8px;box-shadow:0 1px 2px #8B8B8B}
.y_loading .loading-gif:after{content:'';position:absolute;top:5px;left:41px;width:17px;height:31px;background-repeat:no-repeat;-webkit-background-size:17px 31px;background-size:17px 31px}
.y_loading img.left{display:inline;width:0;height:100%;vertical-align:middle}
.y_loading .inner-content{position:relative;z-index:1;display:inline-block;vertical-align:middle;text-align:center;text-indent:3px;background:#f1f1f1;padding:10px 0;border-radius:4px}
.y_dt{z-index:100;position:fixed;top:44px;left:0;display:table;width:100%;height:100%;background-color:#aaa}
.y_dt .inner{display:table-cell;vertical-align:middle}
.y_loading_easy{clear:both;display:block;height:43px;text-align:center;line-height:42px;color:#999;font-size:.857142em}
.y_loading_easy .dot{display:inline-block;width:8px;height:8px;margin-right:5px;background-repeat:no-repeat;-webkit-background-size:8px 8px;background-size:8px 8px}
.y_dt{z-index:200;top:0;background-color:transparent}
.y_dt dl,.y_dt_txtone .txt{width:220px;margin:0 auto;padding:15px 25px 25px 25px;background-color:rgba(0,0,0,.75);border-radius:8px}
.y_dt dt{padding:7px 0 22px 0;color:#fff;font-size:1.07142em;word-break:break-all;word-wrap:break-word}
.y_dt dd{height:38px;text-align:center}
.y_dt a{display:inline-block;width:103px;height:38px;line-height:35px;text-align:center;border-radius:5px;font-size:1.07142em}
.y_dt .btn_normal{float:left;color:#000;background:#d1d1d1;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#d1d1d1));background:-webkit-linear-gradient(top,#fff,#d1d1d1);background:-moz-linear-gradient(top,#fff,#d1d1d1);background:-ms-linear-gradient(top,#fff,#d1d1d1);background:-o-linear-gradient(top,#fff,#d1d1d1);text-shadow:0 1px 0 #F5F5F5;box-shadow:0 -1px 1px #979797 inset}
.y_dt .btn_normal_big{float:none;width:130px}
.y_dt .btn_strong{height:37px;float:right;color:#fff;font-weight:bolder;border-top:1px #FFAE4F solid;background:#d1d1d1;background:-webkit-gradient(linear,left top,left bottom,from(#FF8B04),to(#E67701));background:-webkit-linear-gradient(top,#FF8B04,#E67701);background:-moz-linear-gradient(top,#FF8B04,#E67701);background:-ms-linear-gradient(top,#FF8B04,#E67701);background:-o-linear-gradient(top,#FF8B04,#E67701);text-shadow:0 -1px 0 #C16801;box-shadow:0 -1px 1px #9C5101 inset}
.y_dt_txtone .txt{overflow:hidden;max-width:280px;width:auto;height:80px;padding:0 15px;line-height:80px;color:#fff;text-align:center;font-size:1.07142em}

.wx_confirm_close:after{background-image:url(../images/sprites_v2.png);background-repeat:no-repeat;background-size:100px 100px}
.wx_confirm_close:after{content:'\20';display:block}
.wx_confirm_close{width:35px;height:35px;position:absolute;right:0;top:-17px;text-indent:-200px;overflow:hidden;background-color:#fff;border-radius:35px}
.wx_confirm_close:active{background-color:#ccc}
.wx_confirm_close:after{width:25px;height:25px;background-position:-50px 0;margin:5px}
.wx_confirm{position:fixed;left:0;right:0;top:25%;z-index:12000; margin: 0 6%;}
#wx_confirm_float{background: #000;opacity: 0.9;border-radius: 6px;}
#wx_confirm_float .wx_confirm_tit {color: #fff;}
#wx_confirm_float .wx_confirm_hd{border: 0;} .wx_confirm_hd{border: 0;}

.wx_confirm_inner{background-color:#fff;padding:6% 4%;margin:auto;color:#000;-webkit-animation:an_wx_confirm .25s ease-in; border-radius: 10px; width: 92%;}


.wx_confirm_hd{position:relative; text-align:center;}
.wx_confirm_tit{line-height:16px;font-size:16px;color:#666}
.wx_confirm_close{width:35px;height:35px;position:absolute;right:0;top:-17px;text-indent:-200px;overflow:hidden;background-color:#fff;border-radius:35px}
.wx_confirm_close:active{background-color:#ccc}
.wx_confirm_close:after{width:25px;height:25px;background-position:-50px 0;margin:5px}
.wx_confirm_bd{padding-top:15px}
.wx_confirm_cont{padding:0 0 10px 0}
.wx_confirm_btns{-webkit-box-sizing:border-box;box-sizing:border-box;}
.wx_confirm_btns:after{clear:both;content:'\20';display:block}
.wx_confirm_btns button{background:0;border:0;border-radius: 6px;line-height:30px;height:30px;text-align:center;font-size:16px;margin: 10px 0;width: 50%;display: block; float: left;}
.wx_confirm_btns button[type='submit']{
  color: #007aff;
  }

.wx_confirm_btns button[type='cancel']{
  
  color: #3e3e3e; }
.wx_confirm_btns button[type='temporary']{margin-right:-10px;float:right;background-color:#f0efed;color:#808080;}
.wx_mask{background-color:rgba(0,0,0,0.7);position:fixed;top:0;bottom:0;left:0;right:0;z-index:1200;-webkit-animation:an_wx_mask .25s ease-in}
.wx_confirm_btn{ text-align:center;}
.wx_confirm_btn .okbtn{height:40px;text-align:center;font-size:16px;background-color:#fff;width:50%; border:1px solid #dbdbdb; display: inline-block;}
@-webkit-keyframes an_wx_mask{0%{opacity:.8;}100%{opacity:1;}}
@-webkit-keyframes an_wx_confirm{0%{-webkit-transform:scale(1.1);}100%{-webkit-transform:scale(1);}}
.confirm_order{line-height:14px}
.confirm_order p{margin:8px 0; clear:both; overflow:hidden; line-height:22px;color: #666; text-align: center;}
.confirm_order p.txt-center {padding: 0;margin: 0px}
.confirm_order p em{ width:90px; text-align:center;}
.confirm_order p span{ width:150px;color: #666666;line-height: 22px;}
.confirm_order p em,.confirm_order p span{float:left; display:block;}
.confirm_order .other{font-size:12px;color:#666}
.confirm_order .price{font-size:16px;color:#ffcc33}

ul li.mobile-font a,ul li.mobile-font a:visited,ul li.mobile-font a:hover,ul li.mobile-font a:active {
  color: #141414;
}
#add_order li.order_item .item_list_ordersn  a,#add_order li.order_item .item_list_ordersn  a:visited,#add_order li.order_item .item_list_ordersn  a:hover,#add_order li.order_item .item_list_ordersn  a:active {
  color: #141414;
}
a.order_link, a.order_link:hover,a.order_link:active,a.order_link:visited {
  color: #f86005;
}
a.comment-btn-over, a.comment-btn-over:hover,a.comment-btn-over:active,a.comment-btn-over:visited {
  color: #bebebe !important;
}
ul.operate li a,ul.operate li a:visited,ul.operate li a:hover {
  color: #666;
}
.m_input .btn_order:active,.m_input .btn_order:after,.m_input .btn_order:hover { background: #f5a540}
.coupon-btn {
  background: #1db7fe;
  color:#fff;
  /*margin-top: 10px;*/
  border:0;
  border-radius:8px;
  font-size:16px;  
  width:100%;
  display: block;
  height:40px;
  line-height:40px !important;
  text-align:center;
  border: 1px solid #1db7fe;
}


.edit-btn {
  color: #666;
  text-align: right;
  padding: 6px 0px 6px 6px;
  font-weight: normal;
  font-size: 13px;
}
.manage-btn .okbtn {
  width: 45%;
  margin: 0 5px;
  background: #65c3ed;
  color: #fff;
  border-radius: 6px;
  border: 0;
}
.orange-btn {background: #ffcc33 !important;}
.header-address span a {
  height: 26px;
}
.header-address {
  height: 42px;
  /*margin-bottom: 10px;*/

}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  z-index: 111;
}
.choose-time {
  text-align: center;
  
  color: #fff;
  
  position: relative;
  font-size: 18px;
  bottom: 0;
}
.choose-time span.pull-right a {
  position: absolute;
  right: 0px;
  color: #1aa4f2 !important;
  
}
.choose-time img {
  height: 22px;
  
  margin-top: -10px;
}
.am-button {
  color: #3e3e3e;
}
.choose-time a {
  height: 26px;
  color: #3e3e3e;
  /*border: 1px solid #eee;*/  
  font-size: 14px;
  margin-right: 10px;
}
.back-link{ 
    color: #fff;
    background: #ddd;
    display: block;
    text-align: center;
    text-decoration: none;
    float: right;
    border-radius: 6px;
    left: 0;
    position: fixed;
    
    opacity: 0.9;
    bottom: 0px;
  }

#share_img {
  z-index: 111;
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  opacity: 0.9;
}
.coupon_tip {
  color: red;
  line-height: 36px;
}
#ump_color_gray {
  color: #8e8e8e;
  line-height: 32px;
  /*padding-bottom: 10px;*/
}
.behind {
    /*width: 100%;*/
    height: 98%;
    position: absolute;
    top: 0;
    right: 0px;
    overflow: hidden;
    z-index: 1;
}
.behind a.ui-btn {
    width: 58px;
    margin: 0px;
    
    float: right;
    
    border: none;
}
.behind a.ui-btn img {
  margin-top: 12px;
}
.behind a.delete-btn, .behind a.delete-btn:active, .behind a.delete-btn:visited, .behind a.delete-btn:focus, .behind a.delete-btn:hover {
    color: white;
    background-color: #f24d3a;
    text-shadow: none;
}

a.ui-btn {
  
  text-align: center;
  height: 100%;
  padding: .7em .6em;
}
a.ui-btn img {
  width: 40%;
}
.ui-btn{
    background: #fff;
    z-index: 2;
    font-size: 16px;
    text-align: left;
    padding: .7em .8em .7em 0;
    display: block;
    position: relative;
    text-align: left;
    outline: 0;
    /*width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;*/
    -webkit-touch-callout:none;
    -webkit-outline:none;
    outline:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    
    cursor: pointer;
    -webkit-user-select: none;
}
.behind a.edit-btn, .behind a.edit-btn:active, .behind a.edit-btn:visited, .behind a.edit-btn:focus, .behind a.edit-btn:hover {
    color: white;
    background-color: #eaeceb;
    text-shadow: none;
}


ul li.address_list_view {
  padding-right: 0;
  
  position: relative;
}
ul li .address_list_text {
  background: #fff;
  
}
.headerPlace {
  color: #1aa4f2; 
  background: #fff;
}
.textarea_word {
  text-align: right;
  font-size: 14px;
  padding-right: 10px;
  color: #666;
}
.link-btn-all {
  background: #1db7fe;
  line-height: 46px;
  font-size: 18px;
  color: #fff;
  margin: 15px 4%;
  width: 92%;
  border: 0;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
}
.order_success p {
  font-size: 0.8em;

}
.order_success {
  /*position: fixed;*/
  position: absolute;
  top: 30%;
  /*display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;*/
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.8;
  color: #fff;
  
  width: 11em;
  z-index: 1111;
  line-height: 44px;
  padding: 1.2em 1em;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.3em;

}
.order_success em {
  background: #fff;
  width: 1.6em;
  height: 1.6em;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  margin-top: 4px;
  top: 6px;
}
.order_success em b {
  position: absolute;
  left: 6px;
  top: 9px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  float: left;
  width: 14px;
  height: 6px;
  -webkit-transform:rotate(-50deg);
  transform:rotate(-50deg);

}
.complain_text {
  text-align: left;
  line-height: 26px;

}
.order_success em span {
  position: absolute;
  left: 12px;
  top: 7px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  float: left;
  width: 9px;
  height: 9px;
  -webkit-transform:rotate(0deg);
  /*transform:rotate(20deg);*/

}
.mBxCm {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
